header {
    background-color: rgb(97, 173, 231);
    height: 75px;
    margin-bottom: 20px;
}

.logo {
  font-size: 45px;
  margin-left: 35px;
}

.cont {
    text-align: center;
}

.child {
    border: 5px solid rgb(207, 207, 216);
    width: 30%;
    height: 350px;
   display: inline-block;
   margin: 10px;

}

.naam1 {
margin-left: 25px;
}

.img1 {
  width: 100%;
  max-width: 250px;
}